@model IEnumerable<DeveloperViewModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Developers</title>
</head>
<body>
<div>
    <h1>Developers</h1>
    <ul>
        @foreach (var item in Model)
        {
            <li><strong>@item.Id</strong> @item.Name</li>
        }
    </ul>
</div>
</body>
</html>
